/* ------------------------------------- */
.model-details {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: #080808 1px solid;
  border-radius: 10px;
}

.model-image-container {
  flex: 1;
  max-width: 600px;
}

.model-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.model-info2 {
    margin-top:7%;
}
.model-info {
  margin-left: 5%;
  max-width: 600px;
}

.model-info h2 {
  font-size: 2rem;
  margin-bottom:20%;
  color: #333;
}

.model-info p {
  font-size: 1rem;
  margin-bottom:1%;
  color: #666;
}

.model-info strong {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15%;
}

button:hover {
  background-color: #0056b3;
}

.variant-list {
  margin-top: 20px;

}

.variant-cards-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.variant-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 0%;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.variant-image-container {
  display: flex;
  justify-content: center;
}

.variant-image {
  width: 300px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

.variant-info h4 {
  font-size: 1.2rem;
  margin: 15px 0 ;
  color: #333;
  margin-left: 15%;
  /* justify-content: center; */
}

.variant-info p {
  margin: 5px 0;
  color: #666;
  /* justify-content: center; */
}

.variant-info strong {
  color: #333;
}

@media (max-width: 768px) {
  .model-details {
    flex-direction: column;
    align-items: center;
  }

  .model-image-container {
    max-width: 100%;
  }

  .model-info {
    max-width: 100%;
  }
}

/* --------------------------------------------- */
.icon {
  margin-right: 8px;
  vertical-align: middle;
}

.model-details .model-info p {
  display: flex;
  align-items: center;
}

.model-details .model-info h2 {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.variant-info p {
  display: flex;
  align-items: center;
}
