
.e-card {
    background: rgb(245, 247, 248);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 18%;
    right: 15%;
    
}


.e-card-header h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 15%;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #c2bfbf;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.tabs button.active {
    background: rgb(66, 12, 204);
    color: white;
}

.tabs button:hover {
    background: #b3a9a9;
}


.e-card-content div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.e-card-content label {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.e-card-content select {
    width: 100%;
    padding: 10px;
    border: 2px solid #151515;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
}

.e-card-actions button {
    width: 100%;
    padding: 12px;
    background: #3239b8;
    color: white;
    /* margin-left: 20%; */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center
}

.e-card-actions button:hover {
    background: #191917;
    color: #ffffff;
}