

<!-- <div *ngIf="makeData">
    
  <img [src]="'http://localhost:3000/uploads/logos/' + makeData.logo" alt="{{ makeData.company }} Logo" />

    <h1>{{ makeData.company }}</h1>
    <p>Category: {{ makeData.category.carCategory }}</p>
  </div> -->


   <!-- make.component.html -->
<!-- <div *ngIf="makeData">
    
    <h1>{{ makeData.company }}</h1>
    <img [src]="'http://localhost:3000/uploads/logos/' + makeData.logo" alt="Make Logo" width="100" height="100" />
  
    <p>Category: {{ makeData.category.carCategory }}</p>
  
  
    <div *ngFor="let model of makeData.model">
      <h3>{{ model.modelName }}</h3>
      <img [src]="'D:/full stack/Project/angular/car-dekho/public/assets/tiago-ev' + model.images" alt="{{ model.modelName }}" />
      <p><strong>Engine:</strong> {{ model.engine }}</p>
      <p><strong>Power:</strong> {{ model.power }}</p>
      <p><strong>Transmission:</strong> {{ model.transmission }}</p>
      <p><strong>Torque:</strong> {{ model.torque }}</p>
      <p><strong>Price:</strong> ₹{{ model.price }}</p>
      <p><strong>Mileage:</strong> {{ model.mileage }}</p>
      <p><strong>Fuel Type:</strong> {{ model.fueltype }}</p>
      <p><strong>Car Type:</strong> {{ model.carType }}</p>
  
     
      <div *ngFor="let variant of model.variant">
        <h4>{{ variant.name }}</h4>
        <img [src]="'http://localhost:3000/uploads/logos/logo-1744375504153-142331234.jpg' + variant.images" alt="{{ variant.name }}" />
        <p><strong>Price:</strong> {{ variant.price }}</p>
        <p><strong>Mileage:</strong> {{ variant.mileage }}</p>
        <p><strong>Fuel Type:</strong> {{ variant.fueltype }}</p>
      </div>
    </div>
  </div>
   -->