

<!-- <app-model-detail></app-model-detail> -->
<!-- Show Home content only if no model or variant is selected -->
<div class="main">
    <img [src]="imageUrl" alt="Home Image" width="300">
    <app-card></app-card>
</div>

<!-- <app-used-car-list></app-used-car-list> -->

<!-- <app-explore-new-car></app-explore-new-car> -->

<!-- <app-make></app-make> -->


<!-- Show Car Detail when a model is selected -->
<!-- <app-car-detail  
  *ngIf="selectedModel" 
  [carName]="selectedModel" 
  [variantName]="selectedVariant" 
  (close)="showHome1()">
</app-car-detail> -->

<!-- <router-outlet></router-outlet>     -->